ul li, .main-words>h1, .main-words>h2{
	color: white;
}
ul li{
	display: inline-block;
	text-decoration: none;
	margin-top: 15px;
	margin-right: 10px;
	margin-left: 10px;
}
footer{
	background-color: #0a2d3d;
	color: white;
	text-align: center;
	padding: 1% 0;
}
.main-words>h1{
	font-size: 10em;
}
.main-words>h2{
	font-size: 5em;
}
.main2-white-bg>h2, .main4-blue-bg>h2{
	font-size: 5em;
}
.main2-white-bg>h3, .main4-blue-bg h3, footer h3{
	font-size: 3em;
}
.navbar-right li{
	font-size: 2em;
}
.main2-white-bg>h3>a{
	color: red;
}

.navbar{
	margin-bottom: 0px;
}
.navbar-default{
	background-color: #0a2d3d;
	border-color: rgba(10,45,61,0.8);
	border-radius: 0;
}
.main-pic{
	background-image:url(images/marvel-bg1.png);
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	height: auto;
	z-index: -1;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.main-words{
	padding:200px 0;
	display: block;
	text-align: center;
}
.main2-white-bg{
	background-color: white;	
}
.main4-blue-bg{
	background-color: #2379c0;
	color: white;
}
.main2-white-bg, .main4-blue-bg{
	display: block;
	min-width: 100%;
	width: 100%;
	text-align: center;
	padding: 5% 0;
}
.main3{
	background-image:url(images/marvel-bg2.png);
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	height: auto;
	text-align: center;
	z-index: -1;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.facial-cleaner{
	display: inline-block;
}
.facial-cleaner img{
	max-width: 100%;
	height: auto;	
	width: auto\9; /* ie8 */
}
.inline-block2{
	display: inline-block;
	vertical-align: middle;

	
}
.inline-block2>ul>li{
	display: block;
	color: #ec6806;
	font-size: 2em;
	float: left;
}
.ocean-blue{
	color: #00ffff;
}
.map-canvas{
	position: relative;
     padding: 0; // This is the aspect ratio
     height: 100%;
     overflow: hidden;
}
.map-canvas iframe{
    width: 100% !important;
}
